@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.list {
  @include list-reset;
}

.name {
  font-family: 'Gill Sans', 'Verdana', 'Geneva', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.video_wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video_wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
