@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main_wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 1;
}

.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  max-width: 600px;
  margin: auto;
  border: 1px solid $color;
  background-color: #fff;
  z-index: 2;

  label {
    margin: 10px 0;
  }

  input, textarea {
    width: 100%;
    margin-top: 8px;
    padding: 5px;
  }
}

.upload {
  @include flex-mobile;

  img {
    margin: 10px 0;
  }

  input {
    margin: 10px 0;
  }
}

.select_name {
  margin: 10px 0;
}

.select_wrap {
  padding-bottom: 10px;
}

.check_wrap {
  display: flex;
  align-items: center;
  padding-top: 10px;

  input {
    width: 20px;
    height: 20px;
    margin: 0 0 0 20px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;

  button {
    @include button;
    margin-top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .main {
    padding: 40px;
    width: calc(100% - 80px);
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
    padding: 20px;

    button {
      margin: 0 10px;
    }
  }

  .upload {
    img {
      max-width: 700px;
      max-height: 400px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main {
    img {
      margin-bottom: 30px;
    }
  }

  .buttons {
    padding-top: 40px;
  }

  .data {
    input {
      width: 250px;
      margin-left: 30px;
    }
  }
}
