@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.list {
  @include list-reset;
  padding: 10px 10px 30px;
}

.item {
  margin-bottom: 20px;
}

.link,
.views {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.link {
  font-weight: 600;
  text-decoration: none;
  color: #000;
  transition: $delay;

  &:hover {
    color: $color;
  }

  &:active {
    color: $color-active;
  }
}
