@font-face {
  font-display: swap;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  src: local('Verdana Regular'), local('Verdana-Regular'),
  url('/fonts/Verdana.woff2') format('woff2'),
  url('/fonts/Verdana.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Verdana';
  font-style: italic;
  font-weight: 400;
  src: local('Verdana Italic'), local('Verdana-Italic'),
  url('/fonts/Verdana-Italic.woff2') format('woff2'),
  url('/fonts/Verdana-Italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  src: local('Verdana Bold'), local('Verdana-Bold'),
  url('/fonts/Verdana-Bold.woff2') format('woff2'),
  url('/fonts/Verdana-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Verdana';
  font-style: italic;
  font-weight: 700;
  src: local('Verdana Bold Italic'), local('Verdana-Bold-Italic'),
  url('/fonts/Verdana-Bold-Italic.woff2') format('woff2'),
  url('/fonts/Verdana-Bold-Italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Myriad Pro'), local('Myriad-Pro'),
  url('/fonts/MyriadProSemiBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Myriad Pro'), local('Myriad-Pro'),
  url('/fonts/MyriadProRegular.woff') format('woff');
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Verdana', 'Geneva', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pagination .active a {
  background-color: #707070;
  color: #fff;
}

.pagination .active a:hover {
  background-color: #707070;
  color: #fff;
  border-color: #707070;
}

.pagination .active a:active {
  background-color: #bdf1a5;
  border-color: #bdf1a5;
}

.document-editor__editable-container {
  border: 1px solid var(--ck-color-base-border);
  border-radius: var(--ck-border-radius);
}

:root {
  --ck-image-style-spacing: 1.5em;
  --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
}

.ck-content {
  & .image-style-block-align-left,
  & .image-style-block-align-right {
    max-width: calc(100% - var(--ck-image-style-spacing));
  }

  & .image-style-align-left,
  & .image-style-align-right {
    clear: none;
  }

  & .image-style-side {
    float: right;
    margin-left: var(--ck-image-style-spacing);
    max-width: 50%;
  }

  & .image-style-align-left {
    float: left;
    margin-right: var(--ck-image-style-spacing);
  }

  & .image-style-align-center {
    margin-left: auto;
    margin-right: auto;
  }

  & .image-style-align-right {
    float: right;
    margin-left: var(--ck-image-style-spacing);
  }

  & .image-style-block-align-right {
    margin-right: 0;
    margin-left: auto;
  }

  & .image-style-block-align-left {
    margin-left: 0;
    margin-right: auto;
  }

  /* Simulates margin collapsing with the preceding paragraph, which does not work for the floating elements. */
  & p + .image-style-align-left,
  & p + .image-style-align-right,
  & p + .image-style-side {
    margin-top: 0;
  }

  & .image-inline {
    &.image-style-align-left,
    &.image-style-align-right {
      margin-top: var(--ck-inline-image-style-spacing);
      margin-bottom: var(--ck-inline-image-style-spacing);
    }

    &.image-style-align-left {
      margin-right: var(--ck-inline-image-style-spacing);
    }

    &.image-style-align-right {
      margin-left: var(--ck-inline-image-style-spacing);
    }
  }
}
