$tablet-width: 660px;
$desktop-width: 1280px;
$mobile-width-only: 659px;
$tablet-width-only: 1279px;
$tablet-width-only: 1400px;
$max-width: 1400px;

$color: #9CD382;
$color-hover: #BDF1A5;

$delay: 0.2s;