$tablet-width: 660px;
$desktop-width: 1280px;
$mobile-width-only: 659px;
$tablet-width-only: 1279px;
$tablet-width-only: 1400px;
$max-width: 1400px;
$content-max-width: 1340px;

$color: #707070;
$color-active: #b7b9b7;
$color-gray: #707070;

$delay: 0.2s;
