@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  border-bottom: 5px solid #363636;

  button {
    border: none;
    outline: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
  }
}

.wrap {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 10px 11px;
  position: relative;
}

.logo {
  display: block;
  width: 114px;
  height: 23px;

  &:hover {
    fill: $color;
    path {
      stroke: $color;
    }
  }

  &:active {
    fill: $color-hover;
    path {
      stroke: $color-hover;
    }
  }
}

.controls {
  display: flex;
  margin-top: -5px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin-right: 10px;

  &:hover {
    path {
      stroke: $color;
      fill: $color;
    }
  }

  &:active {
    path {
      stroke: $color-hover;
      fill: $color-hover;
    }
  }
}

.burger {
  width: 30px;
  height: 30px;
}

.nav {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 30px 0;
  width: 100%;
  border-bottom: 5px solid #363636;
  font-family: 'Gill Sans', 'Verdana', 'Geneva', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.menu_list,
.submenu_list {
  @include list-reset;
  @include flex-mobile;
}

.submenu_list {
  padding: 10px 0;
}

.menu_item_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 5px 0;
}

.menu_link:active {
  color: $color-hover;
}

.menu_link:hover {
  color: $color;
}

.arrow {
  width: 20px;
  height: 20px;
}

@media (min-width: $desktop-width) {
  .menu_item:hover path {
    fill: $color;
  }
}
