@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  border-bottom: 5px solid #363636;

  button {
    border: none;
    outline: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
  }
}

.wrap {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 10px 11px;
  position: relative;
}

.logo {
  display: block;
  width: 114px;
  height: 23px;
  transition: $delay;

  &:hover {
    fill: $color;
    path {
      stroke: $color;
    }
  }

  &:active {
    fill: $color-hover;
    path {
      stroke: $color-hover;
    }
  }
}

.controls {
  display: flex;
  margin-top: -5px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin-right: 10px;
  transition: $delay;

  &:hover {
    path {
      stroke: $color;
      fill: $color;
    }
  }

  &:active {
    path {
      stroke: $color-hover;
      fill: $color-hover;
    }
  }
}

.burger {
  width: 30px;
  height: 30px;
}

.nav {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 30px 0;
  width: 100%;
  border-bottom: 5px solid #363636;
  font-family: 'Gill Sans', 'Verdana', 'Geneva', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background-color: #fff;
}

.menu_list,
.submenu_list {
  @include list-reset;
  @include flex-mobile;
}

.submenu_list {
  padding: 10px 0;
}

.menu_item_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 5px 0;
  transition: $delay;
}

.menu_link:active {
  color: $color-hover;
}

.menu_link:hover {
  color: $color;
}

.arrow {
  width: 20px;
  height: 20px;
  transition: $delay;
}

@media (min-width: $tablet-width) {
  .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .wrap {
    padding: 20px 88px 20px 60px;
  }

  .logo {
    width: 219px;
    height: 43px;
    padding-top: 25px;
  }

  .nav {
    position: static;
    border-bottom: none;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .menu_list {
    flex-direction: row;
    padding: 0 44px 0 73px;
    justify-content: center;
    width: 100%;
  }

  .menu_item {
    margin-right: 2.7%;
    position: relative;
    padding: 33px 0;
  }

  .menu_item:last-child {
    margin-right: 0;
  }

  .menu_item path {
    transition: $delay;
  }

  .menu_item:hover path {
    fill: $color;
  }

  .submenu_list {
    position: absolute;
    top: 80px;
    left: -35px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 30px 35px;
    width: max-content;
    align-items: flex-start;

    .menu_link {
      padding: 8px 0;
    }
  }
}
