@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main {
  padding: 0 10px;
}

.articles__list {
  @include list-reset;
}

.articles__item:not(:last-child) {
  margin-bottom: 50px;
}

.search__wrap {
  padding: 10px 0 15px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  input {
    outline-color: #707070;
    padding: 6px 8px;
    width: calc(100% - 55px);
  }

  div {
    width: 32px;
    height: 32px;
    position: relative;
  }

  svg {
    position: absolute;
    left: 0;
    right: 0;
    width: 32px;
    height: 32px;
  }
}

.articles__titile {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Verdana', 'Geneva', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {

  .main {
    padding: 0 20px;
  }

  .search__wrap {
    padding: 15px 0 20px;
  }

  .search {
    padding: 12px 0;
  }
}

@media (min-width: $desktop-width) {
  .articles__titile {
    font-size: 22px;
    line-height: 26px;
  }
}
