@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 24px;
  max-width: 300px;
}

.item {
  width: 25%;
  display: flex;
  margin-bottom: 28px;
}

.link {
  display: block;
  margin: auto;

  path {
    transition: $delay;
    fill: #666;
  }

  &:hover {
    path {
      fill: #000;
    }
  }

  &:active {
    path {
      fill: $color-active;
    }
  }
}
