@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.back_to_top {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrap {
  max-width: $content-max-width;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.top {
  cursor: pointer;
  background-color: $color;
  z-index: 4;
  width: 50px;
  height: 50px;
  transition: $delay;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .5;
  outline: none;
  border: none;

  svg {
    width: 22px;
    height: 25px;
  }
}

.top:hover {
  opacity: .8;
}

.top:active {
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .wrap {
    padding: 20px;
  }

  .top {
    width: 70px;
    height: 70px;

    svg {
      width: 30.63px;
      height: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .wrap {
    padding: 0 60px 30px 0;
  }
}