@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main {
  display: flex;
  flex-direction: column;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 0;
}

.button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;

  svg {
    width: 9px;
    height: 6px;

    @media (min-width: $tablet-width) {
      width: 12px;
      height: 8px;
    }
  }
}

.button:last-child {
  margin-left: 15px;
  transform: rotate(180deg);
}

.date,
.views {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.category {
  margin-right: 15px;
}

@media (min-width: $tablet-width) {
  .main {
    flex-direction: row;
    padding: 20px 0;
    font-size: 20px;
    line-height: 23px;
  }

  .date,
  .views {
    margin-top: 0;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main {
    padding-bottom: 30px;
  }
}

.pagination {
  @include pagination;
}
