@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin: 0 auto;

  label {
    margin: 10px 0;
  }

  input, textarea {
    width: 100%;
    margin-top: 8px;
    padding: 5px;
  }
}

.spinner {
  position: fixed;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  z-index: 9;
}

.upload {
  @include flex-mobile;

  img {
    margin: 10px 0;
  }

  input {
    margin: 10px 0;
  }
}

.upload_buttons {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;

  button, input {
    cursor: pointer;
  }

  button {
    margin-top: 5px;
  }
}

.documents {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background-color: #fff;
  border: 1px solid $color;
  overflow: scroll;
}

.select_name {
  margin: 10px 0;
}

.select_wrap {
  padding-bottom: 10px;
  //position: relative;
  //z-index: 2;
}

.check_wrap {
  display: flex;
  align-items: center;
  padding-top: 10px;

  input {
    width: 20px;
    height: 20px;
    margin: 0 0 0 20px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;

  button {
    @include button;
    margin-top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .main {
    padding: 20px;
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
    padding: 20px;

    button {
      margin: 0 10px;
    }
  }

  .upload {
    img {
      max-width: 700px;
      max-height: 400px;
    }
  }

  .upload_buttons {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;

    input {
      width: 40%;
    }

    button {
      margin-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .main {
    padding: 40px 200px;

    img {
      margin-bottom: 30px;
    }
  }

  .buttons {
    padding-top: 40px;
  }

  .data {
    input {
      width: 250px;
      margin-left: 30px;
    }
  }

  .upload_buttons {
    justify-content: flex-start;

    input {
      width: 300px;
    }

    button {
      margin-left: 10px;
    }
  }
}
