@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.articles,
.news {
  padding: 0 10px;
}

.articles__list,
.news__list {
  @include list-reset;
}

.articles__titile {
  margin-top: 10px;
  margin-bottom: 10px;
}

.news__titile {
  margin-bottom: 20px;
}

.articles__link,
.news__link {
  font-family: 'Myriad Pro', 'Verdana', 'Geneva', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  transition: $delay;

  &:hover {
    color: $color;
  }

  &:active {
    color: $color-active;
  }
}

.more {
  font-family: 'Myriad Pro', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
  transition: $delay;

  span {
    margin-right: 7px;
  }

  &:hover {
    color: $color;

    path {
      stroke: $color;
    }
  }

  &:active {
    color: $color-active;

    path {
      stroke: $color-active;
    }
  }
}

@media (min-width: $tablet-width) {
  .main {
    display: flex;
  }

  .articles,
  .news {
    width: 50%;
  }

  .articles {
    padding: 0 20px;
  }

  .news {
    padding: 0 20px 0 8px;
  }

  .news__titile {
    margin-top: 10px;
  }

  .news__wrap {
    border: 1px solid #000;
    padding: 23px;
  }
}

@media (min-width: $desktop-width) {
  .main {
    justify-content: space-between;
  }

  .articles {
    width: 60%;

    .more {
      margin-top: -30px;
    }
  }

  .news {
    width: 40%;
    padding-left: 55px;
    padding-right: 75px;
  }

  .news__wrap {
    border: none;
    padding: 0;
  }

  .articles__link,
  .news__link {
    font-size: 22px;
    line-height: 26px;
  }
}
