@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main {
  padding-bottom: 35px;
}

.list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.item {
  margin-right: 13px;
  margin-bottom: 12px;
}

.button {
  @include button;
  width: 156px;
  margin: 5px auto 0;
}

.link {
  text-decoration: none;
  color: #000;
  display: block;
  border: 1px solid $color;
  padding: 8px 20px;
  transition: $delay;

  &:hover {
    color: $color;
    border-color: #000;
  }

  &:active {
    color: $color-active;
    border-color: $color-active;
  }
}

@media (min-width: $desktop-width) {
  .main {
    h2 {
      margin-top: 9px;
    }
  }
}
